body {
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#020613;
    color:#2A5D8D;
    text-align: center;
}

header {
    color: #50162C;
    display: flex;
    justify-content: space-between;
}

a {
    color: #50162C;
}

button {
    font-weight: bold;
    background-color: #50162C;
    color:#020613;
    border-radius: 7px;
    padding: 7px;
    margin: 10px;
}